/*****----- Configuration -----*****/
configuration {
    modi:                       "drun,run,window";
    font:                       "MesloLGLDZ Nerd Font Bold 10";
    show-icons:                 true;
    display-drun:               " Apps";
    display-run:                " Run";
    display-window:             " Windows";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
@import                        "~/.config/rofi/color.rasi"

* {
    /* Mapping trực tiếp từ color.rasi */
    background-colour:          var(background);
    foreground-colour:          var(foreground);
    alternate-background:       var(background-alt);
    selected-background:        var(selected);
    selected-foreground:        var(background-alt);
}

/*****----- Main Window -----*****/
window {
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    width:                      800px;
    border:                     2px solid;
    border-radius:              0px;
    border-color:               var(selected);
    background-color:           @background-colour;
    cursor:                     "default";
}

/*****----- Main Box -----*****/
mainbox {
    background-color:           transparent;
    spacing:                    15px;
    padding:                    20px;
    children:                   [ "inputbar", "listview", "mode-switcher" ];
}

/*****----- Inputbar -----*****/
inputbar {
    padding:                    15px;
    border-radius:              0px;
    background-color:           @alternate-background;
    text-color:                 @foreground-colour;
    spacing:                    15px;
    children:                   [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    expand:                     false;
    str:                        "";
    background-color:           transparent;
    text-color:                 var(selected);
    vertical-align:             0.5;
    font:                       "MesloLGLDZ Nerd Font Bold 12";
}

entry {
    background-color:           transparent;
    text-color:                 inherit;
    cursor:                     text;
    placeholder:                " Search applications...";
    placeholder-color:          #64748B;
    vertical-align:             0.5;
}

/*****----- Listview -----*****/
listview {
    columns:                    1;
    lines:                      6;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    reverse:                    false;
    fixed-height:               true;

    spacing:                    5px;
    padding:                    10px 0px 0px 0px;
    background-color:           transparent;
    text-color:                 @foreground-colour;
}

/*****----- Elements -----*****/
element {
    spacing:                    15px;
    padding:                    10px 15px;
    border-radius:              5px;
    background-color:           transparent;
    text-color:                 @foreground-colour;
    cursor:                     pointer;
}

element normal.normal, element alternate.normal {
    background-color:           transparent;
    text-color:                 @foreground-colour;
}

element selected.normal {
    background-color:           var(selected-background);
    text-color:                 var(selected-foreground);
}

element-icon {
    background-color:           transparent;
    size:                       28px;
    cursor:                     inherit;
}

element-text {
    background-color:           transparent;
    text-color:                 inherit;
    vertical-align:             0.5;
    highlight:                  bold;
}

/*****----- Mode Switcher -----*****/
mode-switcher {
    enabled:                    true;
    spacing:                    15px;
    margin:                     10px 0px 0px 0px;
    padding:                    0px;
    background-color:           transparent;
}

button {
    padding:                    10px;
    border-radius:              8px;
    background-color:           @alternate-background;
    text-color:                 @foreground-colour;
    cursor:                     pointer;
}

button selected {
    background-color:           var(selected-background);
    text-color:                 var(selected-foreground);
}
