/*****----- Keybindings Configuration -----*****/
configuration {
    kb-row-up:                  "Up,Alt+k";
    kb-row-down:                "Down,Alt+j";
    kb-row-left:                "Alt+h";
    kb-row-right:               "Alt+l";

    kb-accept-entry:            "Return,KP_Enter";
    kb-cancel:                  "Escape";

    kb-remove-to-eol:           "Control+Shift+e";
    kb-remove-char-back:        "BackSpace";
}
